# Web framework
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
python-multipart==0.0.6 # For file uploads

# Data processing and ML
numpy==2.3.2
pandas==2.3.1
scikit-learn==1.7.1
tensorflow==2.20.0
joblib==1.5.1

# Authentication
passlib==1.7.4
bcrypt==4.0.1
PyJWT==2.10.1 # For handling JSON Web Tokens

# Database
SQLAlchemy==2.0.43
psycopg2-binary==2.9.9 # For PostgreSQL
pymysql==1.1.0 # For MySQL
alembic==1.12.1 # For database migrations

# Connectors
requests==2.32.4
pymodbus==3.11.1
opcua==0.98.13

# Utilities
python-dotenv==1.0.0 # For environment variables
